.navbar{
    color: white;
}
.navbar ul{
    display: flex;
    float: right;
}
.navbar li{
    padding-right: 50px;
    list-style: none;
}
.navbar li:hover{
    color:brown;
}
.mains{
    padding-left: 150px;
    padding-top: 100px;
    background-color: #412f21;
    color: white;
    padding-bottom: 150px;
}
.main1{
    font-size: 50px;
}
.b1{
    background-color: #412f21;
    color: white;
    padding:15px;
    border-style:solid;
    border-color: white;
    border-radius: 20px;
}