.navbar{
    /* color: white; */
    max-width: 100%;
}
.navbar ul{
    display: flex;
    float: right;
}
.navbar li{
    padding-right: 50px;
    list-style: none;
}
.navbar li:hover{
    color:brown;
}
.view{
    display: flex;
    justify-content: space-between;
}
.mains{
    padding-left: 250px;
    padding-right: 350px;
    padding-top: 100px;
    background-color: #412f21;
    color: white;
    padding-bottom: 150px;
    width: 700px;
}
.main1{
    font-size: 50px;
}
.b1{
    background-color: #412f21;
    color: white;
    padding:15px;
    border-style:solid;
    border-color: white;
    border-radius: 20px;
}
.passport{
    width: 650px;
    margin-left: -200px;
    margin-top: 70px;
    margin-bottom: 70px;

}
.v2{
    display: flex;
    background-color: black;
    padding: 150px;
    margin-top:0px;
    color: white;
}
.me1{
    padding-left: 100px;
}
.me2{
    padding-left: 400px;
    font-size: 20px;
}